.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.btn-main {
  background-color: #4fa74f;
  color: white !important;
  border: 1px solid #4fa74f;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-main:hover {
  background-color: #3e8e3e;
  border-color: #3e8e3e;
  color: white !important;
}