.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.error-code {
  font-size: 8rem;
  color: var(--app-accent);
}

:host-context([data-bs-theme="dark"]) .divider-custom-line,
:host-context([data-bs-theme="dark"]) .divider-custom-icon {
  background-color: var(--bs-body-color);
  color: var(--bs-body-color);
}