.cart-item {
  border-bottom: 1px solid var(--border-color);
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.remove-btn {
  font-size: 0.9rem;
  color: #dc3545;
  background: none;
  border: none;
  padding: 0.25rem 0.5rem;
}

.remove-btn:hover {
  text-decoration: underline;
}

.btn-main {
  background-color: #4fa74f;
  color: white;
  border: 1px solid #4fa74f;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  width: 100%;
}

.btn-main:not([disabled]):hover {
  background-color: #3e8e3e;
  border-color: #3e8e3e;
}

.btn-main[disabled] {
  background-color: #f0f0f0;
  color: #9e9e9e;
  border-color: #f0f0f0;
  cursor: not-allowed;
  opacity: 1;
  width: 100%;
}