<footer class="bg-light p-4 mt-5">
  <div class="container">
    <h4>Get the FreshCart App</h4>
    <p>We will send you a link, open it on your phone to download the app.</p>
    <div class="row">
      <div class="col-md-9">
        <input type="email" class="form-control" placeholder="Email...">
      </div>
      <div class="col-md-3">
        <button class="btn btn-main w-100">Share App Link</button>
      </div>
    </div>
    <hr>
    <p class="text-center">© 2025 FreshCart. All rights reserved. Built by Ahmed Wael & Gamal Ali.</p>
  </div>
</footer>