.btn-main {
  background-color: #4fa74f;
  color: white;
  border: 1px solid #4fa74f;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  width: 100%;
}

.btn-main:not([disabled]):hover {
  background-color: #3e8e3e;
  border-color: #3e8e3e;
}

.btn-main[disabled] {
  background-color: #f0f0f0;
  color: #9e9e9e;
  border-color: #f0f0f0;
  cursor: not-allowed;
  opacity: 1;
  width: 100%;
}