<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      @if (apiError) {
        <div class="alert alert-danger">
          {{ apiError }}
        </div>
      }

      <!-- Step 1: Forgot Password Form -->
      @if (currentStep === 1) {
        <form [formGroup]="forgotForm" (ngSubmit)="sendCode()">
          <h2>Forgot Password</h2>
          <p>Please enter your email to receive a reset code.</p>
          <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" formControlName="email">
          </div>
          <button type="submit" [disabled]="forgotForm.invalid || isLoading" class="btn btn-main">
            @if (!isLoading) {
              <span>Send Code</span>
            } @else {
              <span><i class="fa fa-spinner fa-spin"></i></span>
            }
          </button>
        </form>
      }

      <!-- Step 2: Verify Code Form -->
      @if (currentStep === 2) {
        <form [formGroup]="verifyForm" (ngSubmit)="verifyCode()">
          <h2>Verify Code</h2>
          <p>Check your email for the reset code.</p>
          <div class="mb-3">
            <label for="resetCode">Reset Code:</label>
            <input type="text" id="resetCode" class="form-control" formControlName="resetCode">
          </div>
          <button type="submit" [disabled]="verifyForm.invalid || isLoading" class="btn btn-main">
            @if (!isLoading) {
              <span>Verify</span>
            } @else {
              <span><i class="fa fa-spinner fa-spin"></i></span>
            }
          </button>
        </form>
      }

      <!-- Step 3: Reset Password Form -->
      @if (currentStep === 3) {
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
          <h2>Reset Password</h2>
          <p>Enter your new password.</p>
          <div class="mb-3">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
            @if (resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched) {
              <div class="alert alert-danger mt-1">
                @if (resetForm.get('newPassword')?.getError('pattern')) {
                  <span>Password must start with uppercase letter and be 6-11 chars long.</span>
                }
              </div>
            }
          </div>
          <button type="submit" [disabled]="resetForm.invalid || isLoading" class="btn btn-main">
            @if (!isLoading) {
              <span>Reset Password</span>
            } @else {
              <span><i class="fa fa-spinner fa-spin"></i></span>
            }
          </button>
        </form>
      }

    </div>
  </div>
</div>